html{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body{
	background-color: #505060;
	margin: 0;
	padding: 2.5vw;
	overflow: hidden;
}

#foreground{
	background-color: #e7e7f7;
	width: 95vw;
	box-sizing: border-box;
	border-style: double;
	border-color: black;
	border-radius: 10px;
	border-width: 10px;
	min-height: 40px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	height: 75vh;
	overflow-y: scroll;
}

#trashBin{
	background-color: #ee4040;
	border-color: red;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-style: solid;
	border-bottom-style: none;
	border-width: 2px;
	box-sizing: border-box;
	position: absolute;
	height: 20vh;
	width: 95vw;
	left: 2.5vw;
	bottom: 0;
	background-image: url("./assets/bin.png");
	background-position: top;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-size: contain;
}

.token{
	border-color: #707090;
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	padding: 0.5em;
	box-sizing: border-box;
	background-color: #f7f7ff;
	margin: 20px;
	height: 64px;
	max-height: 10vh;
}

.token label{
	display: inline-block;
	user-select: none;
	font-size: 35px;
}

.tokenName{
	float: left;
}

.tokenInitiative{
	float: right;
}

#defaultToken{
	display: none;
}

button{
	margin: 2.5%;
	width: 40%;
	height: 7.5vh;
	border-style: none;
	background-color: #f7f7ff;
	border-radius: 25px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
	box-sizing: border-box;
	font-size: 20px;
}

button:active{
	box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.5);
}

#controls{
	height: 20%;
	width: 100%;
	z-index: 1;
}

#addToken{
	float: right;
}

#sortList{
	float: left;
}

#nextTurn{
	width: -webkit-fill-available;
}

#enterInitiative{
	position: absolute;
	vertical-align: middle;
	width: 95vw;
	min-height: 300px;
	height: 66vh;
	background-color: #e7e7f7;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	z-index: 3;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
}

.activeToken{
	background-color: #70f770;
}

.windowButton{
	box-shadow: none;
	height: 50%;
	width: 40%;
	color: white;
	margin: 0;
	margin-top: 12.5%;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
}

.windowButton:active{
	box-shadow: none;
	box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.5);
}

#intInput{
	height: 30%;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	font-size: 2em;
	box-sizing: border-box;
}

#nameInput{
	font-size: 3em;
	height: 30%;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	text-align: center;
}

#add{
	background-color: #10aa10;
	float: right;
}

#cancel{
	background-color: #aa1010;
	float: left;
}

#inputControls{
	height: 30%;
}

.hidden{
	display: none !important;
}

#greyOut{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: #121222;
	opacity: 0.5;
}

@media only screen and (min-width: 600px){
	body{
		background-color: #505060;
		margin: 2.5vw;
		margin-bottom: 0;
		margin-top: 2.5vh;
		padding: 0;
		overflow: hidden;
		box-sizing: border-box;
	}

	button{
		height: 7.5vh;
		width: 20%;
	}	

	#sortList{
		float: none;
	}

	#addToken{
		float: none;
	}

	#nextTurn{
		width: 50%;
	}

	#controls{
		position: absolute;
		bottom: 2.5vw;
		width: 95vw;
		height: 10%;
		display: inline-flex;
	}

	#foreground{
		height: 85%;
		display: block;
		position: absolute;
	}
}