html{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body{
	background-color: #505060;
	margin: 0;
	padding: 2.5vw;
	overflow: hidden;
}

#foreground{
	background-color: #e7e7f7;
	width: 95vw;
	box-sizing: border-box;
	height: auto;
	border-style: double;
	border-color: black;
	border-radius: 10px;
	border-width: 10px;
	min-height: 40px
}

#trashBin{
	background-color: #ee4040;
	border-color: #ff0000;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-style: solid;
	border-bottom-style: none;
	border-width: 2px;
	box-sizing: border-box;
	position: absolute;
	height: 25vh;
	width: 90vw;
	left: 50vw;
	bottom: 0;
	transform: translate(-50%, 0);
}

.token{
	border-color: #707090;
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	padding: 0.5em;
	box-sizing: border-box;
	background-color: #f7f7ff;
	margin: 20px;
	height: 64px;
	max-height: 10vh;
}

.token label{
	display: inline-block;
	user-select: none;
	font-size: 35px;
}

.tokenName{
	float: left;
}

.tokenInitiative{
	float: right;
}

#defaultToken{
	display: none;
}

button{
	position:absolute;
	min-width: 150px;
	width: 20vw;
	min-height: 100px;
	height: 10vh;
	border-style: none;
	background-color: #f7f7ff;
	border-radius: 50px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
	box-sizing: border-box;
	font-size: 20px;
}

button:active{
	box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.5);
}

#addToken{
	bottom: 15px;
	right: 15px;
}

#sortList{
	bottom: 15px;
	left: 15px;
}

#nextTurn{
	margin-right: auto;
	margin-left: auto;
	height: 20vh;
	min-height: 200px;
	min-width: 150px;
	width: 40vw;
	bottom: 15px;
	left: 50vw;
	transform: translate(-50%, 0);
}

#enterInitiative{
	position: absolute;
	vertical-align: middle;
	width: 95vw;
	min-height: 300px;
	height: 66vh;
	background-color: #e7e7f7;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	z-index: 2;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
}

.windowButton{
	box-shadow: none;
	min-height: 50px;
	height: 10%;
	min-width: 100px;
	width: 45%;
	padding: 10px;
}

.windowButton:active{
	box-shadow: none;
}

#intInput{
	min-height: 100px;
	height: 30%;
	width: 30%;
	font-size: 75px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

#nameInput{
	min-height: 100px;
	height: 30%;
	width: 100%;
	font-size: 50px;
	resize: none;
	box-sizing: border-box;
	text-align: center;
}

#add{
	background-color: green;
	right: 15px;
	bottom: 15px;
}

#cancel{
	background-color: red;
	left: 15px;
	bottom: 15px;
}

.hidden{
	display: none !important;
}

#greyOut{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	background-color: #121222;
	opacity: 0.5;
}